//Base hero styles
.hero {
  position: relative;
  padding-top: 75px;
  min-height: 50vh;
  height: 100%;

  .hero-img-container {
    width: 100%;
    min-height: 55vh;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /*To help with keeping content happy!*/
    display: flex;
    justify-content: flex-start;
    align-items: middle
  }

  &.hero-download_callouts{
    .hero-img-container{
      min-height: 45vh;
      @include grid-media($medium-min) {
        min-height: 65vh;
      }
    }
    
  }
  
}


